{# vim: ft=jinja
-#}
$TTL 1H
@                  IN   SOA     {{ dns_nameservers.keys()|first }}.{{ internal_domain }}. {{ dns_admin|replace('@','.') }}. (
                                {{ dns_serial }}
                                28800
                                600
                                604800
                                0
                               )
{% for name in dns_nameservers.keys()|sort %}
                   IN   NS      {{ name }}.{{ internal_domain }}.
{% endfor %}
                   IN   MX      10 {{ mail_service_name }}.
                   IN   A       {{ internal_dns_a_record }}

; Authoritive nameservers
{% for name,server in dns_nameservers|dictsort %}
{{ name.ljust(18) }} IN   A       {{ server['IPv4'] }} 
                   IN   AAAA    {{ server['IPv6'] }}
{% endfor %}

; DNS-SD
b._dns-sd._udp     IN   PTR     @ 
lb._dns-sd._udp    IN   PTR     @

; Kerberos
_kerberos          IN   TXT     "{{ kerberos_realm }}"
_kerberos._udp     IN   SRV     0 0 88 {{ kerberos_service_name }}.
_kerberos._tcp     IN   SRV     0 0 88 {{ kerberos_service_name }}.
_kerberos-adm._tcp IN   SRV     0 0 749 {{ kerberos_admin_service_name }}.
_kpasswd._udp      IN   SRV     0 0 464 {{ kerberos_passwd_service_name }}.
_kpasswd._tcp      IN   SRV     0 0 464 {{ kerberos_passwd_service_name }}.

; LDAP
_ldap._tcp         IN   SRV     0 0 636 {{ ldap_service_name }}.
{% for ldapserver in ldap_service_aliases %}
;{{ (ldapserver.split('.')|first).ljust(18) }} IN   TXT     "service:ldaps://{{ ldapserver }}:636/{{ ldap_base }}"
;                   IN   TXT     "ldaptype: master"
{% endfor %}

; Service aliases
{% for name in mail_service_aliases %}
{{ (name.split('.')|first).ljust(18) }} IN   CNAME   {{ mail_service_name }}.
{% endfor %}
{% for name in ldap_service_aliases %}
{{ (name.split('.')|first).ljust(18) }} IN   CNAME   {{ ldap_service_name }}.
{% endfor %}
{% for name in kerberos_service_aliases %}
{{ (name.split('.')|first).ljust(18) }} IN   CNAME   {{ kerberos_service_name }}.
{% endfor %}
{% for name in kerberos_admin_service_aliases %}
{{ (name.split('.')|first).ljust(18) }} IN   CNAME   {{ kerberos_admin_service_name }}.
{% endfor %}
{% for name in kerberos_passwd_service_aliases %}
{{ (name.split('.')|first).ljust(18) }} IN   CNAME   {{ kerberos_passwd_service_name }}.
{% endfor %}
{% for name in kerberos_kcrap_service_aliases %}
{{ (name.split('.')|first).ljust(18) }} IN   CNAME   {{ kerberos_kcrap_service_name }}.
{% endfor %}

; Anycast ips
{% for name, info in anycast_ip|dictsort %}
{{ name.ljust(18) }} IN   A       {{ info['IPv4'] }} 
{{ name.ljust(18) }} IN   AAAA    {{ info['IPv6'] }} 
{% endfor %}

; Static ip addresses
{% for host,ips in dns_static['IPv4']|dictsort %} 
{% for ip in ips|as_list %}
{{ (host.split('.')|first).ljust(18) }} IN   A       {{ ip }}
{{ (host.split('.')|first + '-4').ljust(18) }} IN   A       {{ ip }}
{% endfor %}
{% endfor %}
{% for host,ips in dns_static['IPv6']|dictsort %} 
{% for ip in ips|as_list %}
{{ (host.split('.')|first).ljust(18) }} IN   AAAA    {{ ip }}
{{ (host.split('.')|first + '-6').ljust(18) }} IN   AAAA    {{ ip }}
{% endfor %}
{% endfor %}
{% for host,name in dns_static['CNAME']|dictsort %} 
{{ (host.split('.')|first).ljust(18) }} IN   CNAME   {{ name }}.
{% endfor %}

{% for host, info in lan_delegated_zones|dictsort %}
{% for offset in [2, 10, 15, 20, 40, 41, 50] %}
; Delegate lan zone LAN{{ offset }} at {{ host }}
$ORIGIN lan{{ offset }}.{{ host }}.
ns                 IN   A       {{ info['IPv4'] }}
                   IN   AAAA    {{ info['IPv6'] }}
@                  IN   NS      ns.lan{{ offset }}.{{ host }}.

{% endfor %}
{% endfor %}
