{# vim: ft=jinja 
-#}
acl internal {
{% for network in (internal_network['IPv4']|list + internal_network['IPv6']|list) %}
    {{ network }};
{% endfor %}
};

// View internal
view internal {
  match-clients {
    !key external;
    localnets;
    localhost;
    internal;
  };

  recursion yes;

  response-policy { zone "rpz"; };

  allow-recursion {
    localnets;
    localhost;
    internal;
  };

  allow-query-cache {
    localnets;
    localhost;
    internal;
  };

  max-cache-ttl 10;
  max-ncache-ttl 10;

  server 127.0.0.1 {
    keys {
      external;
    };
  };

  // Zone
  zone "{{ internal_domain }}" {
    type master;
    file "/var/bind/dynamic/{{ internal_domain }}.raw";
    masterfile-format raw;

    allow-transfer {   
      localhost;
    };  

    update-policy {
      grant {{ internal_domain }} wildcard *.{{ internal_domain }} A AAAA;
      grant *.{{ internal_domain }} self *.{{ internal_domain }} A AAAA TXT;
      grant dnsmasq zonesub A AAAA;
    };

    also-notify {
      127.0.0.1;
    };

    forwarders { };
  };

  // Consul
  zone "consul" {
    type forward;
    forward only;
    forwarders {
      {{ docker_network['IPv4']|pick_address(1) }};
    };
  };

  // DO domains
  {% for domain in dns_do_domains %}
  zone "{{ domain }}" {
    type forward;
    forwarders {
      173.245.58.51;
      173.245.59.41;
      198.41.222.173;
    };
  };
  {% endfor %}

  // RPZ
  zone "rpz" {
    type master;
    file "/var/bind/dynamic/rpz.raw";
    masterfile-format raw;
  };

{% for zone in (reverse_zones['IPv4']|list + reverse_zones['IPv6']|list) %}
  // Reverse zone
  zone "{{ zone }}" {
    type master;
    file "/var/bind/dynamic/{{ zone }}.raw";
    masterfile-format raw;

    allow-transfer {   
      localhost;
    };

    update-policy {
      grant * tcp-self . PTR;
      grant dnsmasq zonesub PTR;
      grant registrator zonesub PTR;
    };

    also-notify {
      127.0.0.1;
    };

    forwarders { };
  };

{% endfor %}
};

// View external
view external {
  match-clients { key external; any; };
  
  recursion no;

  // Zone
  zone "{{ internal_domain }}" {
    type slave;
    file "/var/bind/dynamic/{{ internal_domain }}.external.raw";
    masterfile-format raw;
    masters { 
      127.0.0.1;
    };
  };

  // Reverse zones
{% for zone in reverse_zones['IPv6']|list %}
  zone "{{ zone }}" {
    type slave;
    file "/var/bind/dynamic/{{ zone }}.external.raw";
    masterfile-format raw;
    masters { 
      127.0.0.1;
    };
  };

{% endfor %}
};
