{# vim: ft=jinja 
-#}
$TTL 1H
$ORIGIN {{ item|capitalize }}.
@                  IN   SOA     {{ dns_nameservers.keys()|first }}.{{ internal_domain }}. {{ dns_admin|replace('@','.') }}. (
                                {{ dns_serial }}
                                28800
                                600
                                604800
                                0
                               )
{% for name in dns_nameservers.keys()|sort %}
                   IN   NS      {{ name }}.{{ internal_domain }}.
{% endfor %}


{% set prefix = item.replace('.in-addr.arpa', '').split('.')|reverse|join('.') + '.' -%}

; Static ip addresses
{% for host,ips in dns_static['IPv4']|dictsort %}
{% for ip in ips|as_list %}
{% if ip.startswith(prefix) %}
{{ (ip.replace(prefix, '').split('.')|reverse|join('.')).ljust(18) }} IN   PTR     {{ host }}.
{% endif %}
{% endfor %}
{% endfor %}

; Anycast ip addresses
{% for name, info in anycast_ip|dictsort %}
{% if info['IPv4'].startswith(prefix) %}
{{ (info['IPv4'].replace(prefix, '').split('.')|reverse|join('.')).ljust(18) }} IN   PTR     {{ name }}.{{ internal_domain }}.
{% endif %}
{% endfor %}

; Delegate consul zones
{% for zone in dns_consul_networks['IPv4']|reverse_zones %}
{% if zone.endswith('.' + item) %}
$ORIGIN {{ zone }}.
ns                 IN   A       {{ docker_network['IPv4']|pick_address(1) }}
@                  IN   NS      ns.{{ zone }}.
{% endif %}
{% endfor %}
