{# vim: ft=jinja 
-#}
$TTL 10m
$ORIGIN {{ item|capitalize }}.
@                  IN   SOA     {{ dns_nameservers.keys()|first }}.{{ internal_domain }}. {{ dns_admin|replace('@','.') }}. (
                                {{ dns_serial }}
                                28800
                                600
                                604800
                                0
                               )
{% for name in dns_nameservers.keys()|sort %}
                   IN   NS      {{ name }}.{{ internal_domain }}.
{% endfor %}

{% set suffix = '.' + item + '.' -%}

; Static ip addresses
{% for host,ips in dns_static['IPv6']|dictsort %}
{% for ip in ips|as_list %}
{% set ip = ip|reverse_dns %}
{% if ip.endswith(suffix) %}
{{ ip.replace(suffix, '').ljust(18) }} IN   PTR     {{ host }}.
{% endif %}
{% endfor %}
{% endfor %}

; Anycast ip addresses
{% for name, info in anycast_ip|dictsort %}
{% set ip = info['IPv6']|reverse_dns %}
{% if ip.endswith(suffix) %}
{{ ip.replace(suffix, '').ljust(18) }} IN   PTR     {{ name }}.{{ internal_domain }}.
{% endif %}
{% endfor %}

; Delegate consul zones
{% for zone in dns_consul_networks['IPv6']|reverse_zones %}
{% if zone.endswith('.' + item) %}
$ORIGIN {{ zone }}.
ns                 IN   A       {{ docker_network['IPv4']|pick_address(1) }}
@                  IN   NS      ns.{{ zone }}.
{% endif %}
{% endfor %}
