{# vim: ft=jinja
-#}
$TTL 1H
@                  IN   SOA     {{ dns_nameservers.keys()|first }}.{{ internal_domain }}. {{ dns_admin|replace('@','.') }}. (
                                {{ dns_serial }}
                                28800
                                600
                                604800
                                0
                               )
{% for name in dns_nameservers.keys()|sort %}
                   IN   NS      {{ name }}.{{ internal_domain }}.
{% endfor %}

{{ unifi_hostname }} IN A {{ unifi_controller }}
{{ unms_hostname }} IN A {{ unms_controller }}
