{% for host,info in mailgun_credentials|dictsort %}
{% if info['relay_by_default'] %}
@{{ host }} [{{ info['smtp_host'] }}]
{% else %}
{% for addr in info['relay_from'] %}
{{ addr }}@{{ host }} [{{ info['smtp_host'] }}]
{% endfor %}
{% endif %}
{% endfor %}
