{% for host,info in mailgun_credentials|dictsort %}
{% if info['relay_by_default'] %}
@{{ host }} smtp-sasl:[{{ info['smtp_host'] }}]{% if mail_behind_relay|default(False) %}:2525{% endif %} 
{% else %}
{% for addr in info['relay_from'] %}
{{ addr }}@{{ host }} smtp-sasl:[{{ info['smtp_host'] }}]{% if mail_behind_relay|default(False) %}:2525{% endif %} 
{% endfor %}
{% endif %}
{% endfor %}
