{% if mail_use_mailgun %}
{% for domain in mailgun_relay_domains %}
{{ domain }} smtp-sasl:[{{ mailgun_smtp_host }}]{% if mail_behind_relay|default(False) %}:2525{% endif %} 
{% endfor %}
{% endif %}
{% if not mail_behind_relay|default(False) %}
gmail.com smtp4:
{% endif %}
