{% for domain in mail_virtual_domains %}
abuse@{{ domain.ljust(30) }}      root
postmaster@{{ domain.ljust(30) }} root
webmaster@{{ domain.ljust(30) }}  root
lists@{{ domain.ljust(30) }}      lists
bounces@{{ domain.ljust(30) }}    bounces
{% endfor %}
