# my global config
global:
  scrape_interval:     60s # Set the scrape interval to every 60 seconds. Default is every 1 minute.
  evaluation_interval: 60s # Evaluate rules every 60 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: 'verraedt-kapucijnenvoer'
 
# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files: []
  # - "first.rules"
  # - "second.rules"

remote_write:
  - url: http://victoria-metrics-8428.service.consul:8428/api/v1/write

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    static_configs:
      - targets: ['prometheus.service.consul:9090']

  - job_name: 'node'
    static_configs:
      - targets:
{% for server in servers %}
          - '{{ server }}:9100'
{% endfor %}

  - job_name: 'docker'
    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.
   
    static_configs:
      - targets:
{% for server in servers %}
          - '{{ server }}:9301'
{% endfor %}

  - job_name: 'hass'
    metrics_path: /api/prometheus

    # Long-Lived Access Token
    bearer_token: "{{ homeassistant_token }}"

    scheme: http
    static_configs:
      - targets: ['homeassistant.service.consul:8123']

  - job_name: 'consul'
    consul_sd_configs:
      - server:   'consul.service.consul:8500'
        datacenter: 'dc1'
    relabel_configs:
      - source_labels: ['__meta_consul_service']
        regex:         '(.*)'
        target_label:  'job'
        replacement:   '$1'
      - source_labels: ['__meta_consul_node']
        regex:         '(.*)'
        target_label:  'instance'
        replacement:   '$1.{{ internal_domain }}'
      - source_labels: ['__meta_consul_tags']
        regex:         '.*,prometheus,.*'
        action:         keep

  - job_name: 'consul-15s' 
    scrape_interval:     15s # Set the scrape interval to every 15 seconds.
    consul_sd_configs:
      - server:   'consul.service.consul:8500'
        datacenter: 'dc1'
    relabel_configs:
      - source_labels: ['__meta_consul_service']
        regex:         '(.*)'
        target_label:  'job'
        replacement:   '$1'
      - source_labels: ['__meta_consul_node']
        regex:         '(.*)'
        target_label:  'instance'
        replacement:   '$1.{{ internal_domain }}'
      - source_labels: ['__meta_consul_tags']
        regex:         '.*,prometheus-15s,.*'
        action:         keep

  - job_name: 'consul-15m' 
    scrape_interval:     15m # Set the scrape interval to every 15 minutes.
    consul_sd_configs:
      - server:   'consul.service.consul:8500'
        datacenter: 'dc1'
    relabel_configs:
      - source_labels: ['__meta_consul_service']
        regex:         '(.*)'
        target_label:  'job'
        replacement:   '$1'
      - source_labels: ['__meta_consul_node']
        regex:         '(.*)'
        target_label:  'instance'
        replacement:   '$1.{{ internal_domain }}'
      - source_labels: ['__meta_consul_tags']
        regex:         '.*,prometheus-15m,.*'
        action:         keep
